
@media only screen and (min-width: 1200px){
    .navbar-collapse{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .nav-link span{
        color: var(--Grayish-Blue);
        padding: 29px 0px;
        text-decoration: none;
        font-size: 14px;
        border-bottom: 3px solid transparent;
    }
    .nav-link span:hover {
        border-bottom: 3px solid var(--Lime-Green);
    }
    
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    .navbar-collapse{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 250px;
        background-color: var(--White);
        gap: 10px;
        margin-top: 30px;
        padding: 20px 0px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 130px 70px 100px;
    }
   
}